.wrapper {
    background: #E9edf2;
    height: 100vh;
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid green;
    
}



header h3 {
    text-shadow: 2px 2px 2px black;
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 6px 2px;

}

.back {
    padding-right: 5px;
}

.back a{
    font-weight: 400;
    width: 40%;
    font-size: 20px;
    padding: 5px;
    height: 30px;
    border: none; 
    text-decoration: none;
    border-radius: 3px;
    background: rgba(63, 114, 76, 0.7);
    cursor: pointer;
}

.back a:hover {
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255,);
}



form {
    background-color: white;
    padding: 25px;
    margin: 20px 15px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px grey;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: .9rem;
    padding-bottom: 30px;
}
.input-field:nth-child(2n){
    justify-content: end;
}

.input-field {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 15px;
 
 }
 
 .input-field label {
     width: 50%;
     font-size: 20px;
     font-weight: 400;
     margin: 5px 0;
 }
 
 .input-field input {
     height: 40px;
     width: 95%;
     border-radius: 7px;
     outline: none;
     border: 1px solid grey;
     padding: 0 10px;
 }
 
 .input-field select {
     height: 40px;
     width: 95%;
     border-radius: 7px;
     outline: none;
     border: 1px solid grey;
     padding: 0 10px; 
 }



.btn input {
    width: 20%;
    font-size: 20px;
    padding: 3px;
    height: 30px;
    border: none; 
    border-radius: 3px;
    background: rgba(63, 114, 76, 0.7);
    cursor: pointer;
}

.btn input:hover {
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255,);
}
